# Secrets & Environment
/config/master.key
/config/credentials/*.key
.env
.env.local
.env*.local

# Dependencies
/node_modules
/.bundle
/vendor/bundle

# Logs & Temp
/log/*
!/log/.keep
/tmp/*
!/tmp/.keep
/tmp/pids/*
!/tmp/pids/.keep
/tmp/storage/*
!/tmp/storage/.keep

# Storage (Active Storage)
/storage/*
!/storage/.keep
/public/uploads

# Assets & Builds
/app/assets/builds/*
!/app/assets/builds/.keep
/public/assets

# esbuild
yarn-error.log
yarn-debug.log*
.yarn-integrity

# Test & Coverage
/coverage/
/spec/tmp
.byebug_history
.rspec
capybara-*.html

# Ruby
*.rbc
*.orig
rerun.txt

# macOS
.DS_Store